<ion-view view-title="{{project.title}}">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider assertive">
        <i class="icon ion-alert"></i>最初に
      </div>
      <div class="item item-text-wrap">
        これはオンライン上でクイズ形式の問題を解答することで学習するためのアプリケーションです。<br>
        誰(非ログイン)でも問題に解答することができますが、ユーザ登録することで成績を記録することができ、他のユーザと成績を競ったり学習状況を把握することができます。<br>
        問題を作成することも可能ですが、作成するためにはまず権限を得る申請が必要になります。
      </div>
    </div>
    
    <div class="list card">
      <a href="#/tab/login" class="item item-icon-left">
        <i class="icon ion-log-in"></i>
        ログイン
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-person-add"></i>
        新規登録
      </a>
    </div>
    
    <div class="list card">
      <div class="item item-divider">
        <i class="icon ion-information"></i>新着情報
      </div>
      <a href="#" class="item item-icon-left balanced">
        <i class="icon ion-refresh"></i>
        2016年5月12日<br>
        アプリケーションを新規作成
      </a>
      <a href="#" class="item item-icon-left balanced">
        <i class="icon ion-star"></i>
        2016年5月12日<br>
        いろいろ情報
      </a>
    </div>

  </ion-content>
</ion-view>
