//- 新着情報の内容

-
  var info = [{
    date: "2016年5月25日",
    type: "info",
    title: "機能を多数追加",
    msg: "ログイン処理、インフォメーション機能、faviconなどいろいろと追加しました。"
  },{
    date: "2016年5月25日",
    type: "warning",
    title: "表示テスト",
    msg: "表示テストです。"
  },{
    date: "2016年5月24日",
    type: "info",
    title: "ログイン機能の実装",
    msg: "ログインするための処理を実装しました。"
  },{
    date: "2016年5月23日",
    type: "info",
    title: "タイトルテスト",
    msg: "コメントテスト"
  },{
    date: "2016年5月23日",
    type: "info",
    title: "コメント追加",
    msg: "コメントテスト"
  },{
    date: "2016年5月23日",
    type: "warning",
    title: "「AngularJSのコントローラが2回呼ばれる」を解決",
    msg: "コメントテスト"
  }];
