//- 通常の画面と問題解答中の画面で表示の切り替えを行う
//- 通常画面に切り替える

include _userinfo

script.
  $(function() {
    $("#main-header").removeClass("hidden");
    if(user) {
      showUserInfo();
    }
    $("#copy").removeClass("hidden");
    $("canvas").remove();
  });
