//- 一番最初に表示する画面
//- 全てのユーザが表示できる

include show_header
.panel.panel-danger
  .panel-heading
    span.glyphicon.glyphicon-exclamation-sign
    | 最初に
  .panel-body
    | これはオンライン上でクイズ形式の問題を解答することで学習するためのアプリケーションです。
    br
    | 誰(非ログイン)でも問題に解答することができますが、ユーザ登録することで成績を記録することができ、他のユーザと成績を競ったり学習状況を把握することができます。
    br
    | 問題を作成することも可能ですが、作成するためにはまず権限を得る申請が必要になります。

ul.list-group
  a.list-group-item(ng-href='/#/users/login')
    span.glyphicon.glyphicon-log-in(aria-hidden='true')
    | ログイン
  a.list-group-item(ng-href='/#/users/signup')
    span.glyphicon.glyphicon-plus-sign(aria-hidden='true')
    | 新規登録

- var num = 5;
include info
