extends ../layout/index

block content
  .container
    form.form-signin(action="/login",method="post")
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail') ID
      input#inputEmail.form-control(type='text', placeholder='userid', required='', autofocus='', name="userid")
      label.sr-only(for='inputPassword') パスワード
      input#inputPassword.form-control(type='password', placeholder='******', required='', name="password")
      input.btn.btn-lg.btn-primary.btn-block(type='submit', value="Login")
