extends ../layout/index

block content
  .container
    .hoge #{error}
    form.form-signin(action="/users/login",method="post")
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail') ID
      input#inputEmail.form-control(type='text', placeholder='userid', required='', autofocus='', name="userid", value="#{input_id}")
      label.sr-only(for='inputPassword') パスワード
      input#inputPassword.form-control(type='password', placeholder='******', required='', name="password", value="#{input_password}")
      br
      input.btn.btn-lg.btn-primary.btn-block(type='submit', value="Login")
