//- メタ情報など

meta(charset="utf-8")
meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
meta(name="apple-mobile-web-app-capable",content="no")
meta(name="format-detection",content="telephone=no")
meta(name="description",content="")
meta(name="keywords" content="")
title オンラインクイズアプリケーション2
link(rel="shortcut icon" href="/favicon.ico")
link(rel="stylesheet", href="/lib/honoka/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/min/style.css")
script(src="/lib/jquery/2.2.4/jquery.min.js")
script(src="/lib/angular-1.5.8/angular.min.js")
script(src="/lib/angular-1.5.8/angular-route.min.js")
script(src="/lib/honoka/js/bootstrap.min.js")
script(src="/lib/phina/phina.js")
script(src="/lib/favico.js-0.3.10/favico-0.3.10.min.js")
script(src="/lib/socket.io/socket.io.js")
script(src="/js/min/ng.main.js")
script.
  var user = null;
  $(function() {
    $(".navbar-nav li a.text-left").click(function(event) {
      $(".navbar-collapse").collapse("hide");
    });
  });
  function showUserInfo() {
    $("#main-footer").removeClass("hidden");
    $("#logoutBtn").removeClass("hidden");
  }
  function hideUserInfo() {
    $("#main-footer").addClass("hidden");
    $("#logoutBtn").addClass("hidden");
  }
script.
  var socket = io();
  $(function() {
    socket.on("broadcast", function(msg){
      console.log(msg);
      $("body").append("<div id='broadcast' role='alert'></div>");
      $("#broadcast").addClass("alert").addClass("alert-info").addClass("message-area");
      $("#broadcast").html(msg).slideDown(1000).fadeOut(3000)
      .queue(function() {
        this.remove();
      });
    });
  });
