//- メタ情報など

meta(charset="utf-8")
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
meta(name="apple-mobile-web-app-capable",content="no")
meta(name="format-detection",content="telephone=no")
meta(name="description",content="")
meta(name="keywords" content="")
title オンラインクイズアプリケーション2
link(rel="shortcut icon" href="/favicon.ico")
link(rel='stylesheet', href='/lib/honoka/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/min/style.css')
script(src="/lib/jquery/jquery-2.2.3.min.js")
script(src="/lib/angular-1.5.5/angular.min.js")
script(src="/lib/angular-1.5.5/angular-route.min.js")
script(src="/lib/honoka/js/bootstrap.min.js")
script(src="/lib/phina/phina.min.js")
script(src="/lib/favico.js-0.3.10/favico-0.3.10.min.js")
script(src="/lib/socket.io/socket.io.js")
script(src="/js/min/ng.main.js")
//- script(src="/js/module.js")
//- script(src="/js/controller.js")
script.
  var user = null;
  $(function() {
    $(".navbar-nav li a.text-left").click(function(event) {
      $(".navbar-collapse").collapse('hide');
    });
  });
  function showUserInfo() {
    $("#main-footer").removeClass("hidden");
    $("#logoutBtn").removeClass("hidden");
  }
  function hideUserInfo() {
    $("#main-footer").addClass("hidden");
    $("#logoutBtn").addClass("hidden");
  }
script.
  var socket = io();
  socket.on('message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
  
  $(function() {
    $('#broadcast').hide();
    socket.on('message', function(msg){
      console.log(msg);
      $('#broadcast').html(msg);
      $('#broadcast').slideDown(1000).fadeOut(3000);
    });
  });
  