nav.navbar.navbar-default.navbar-fixed-bottom
  ul.nav.nav-pills
    li.active(role='presentation')
      a(href='/home')
        span.glyphicon.glyphicon-home(aria-hidden='true')
        | ホーム
    li(role='presentation')
      a(href='/about')
        span.glyphicon.glyphicon-info-sign(aria-hidden='true')
        | 情報
    li(role='presentation')
      a(href='/quiz')
        span.glyphicon.glyphicon-education(aria-hidden='true')
        | 学習
