//- ジャンル別に表示した問題集へのリンク

doctype html
//-html(lang="ja",manifest="/quizwebapp2.manifest")
html(lang="ja", ng-app="quizApp")
  head
    include _head
  body
    include _header
    div(ng-view)
    include _footer
