//- 問題集の一覧
//- 選択すると問題を始める

include ../show_header
div
  ul.list-group
    a.list-group-item(ng-repeat="data in list",ng-href='/#/quiz/book/start/{{data.id}}/')
      h4
        span.glyphicon.glyphicon-book(aria-hidden='true')
        | &nbsp;{{data.title}}
      | {{data.comment}}
      span.badge 更新：{{data.updatetime}}
