//- 問題集を解答する画面

include ../_hide_header
div
  canvas.quizdisplay#quizmainarea
  script.
    var QUIZ_DATA = ""; // {{list}} {{1+3}}
  script(src="/js/min/quiz.book.js")
  p <!-- {{list}} {{1+3}} -->
  p {{list}} {{1+3}}
