ul.list-group(ng-controller="QuizGenreCtrl")
  each item in list
    a.list-group-item(ng-href='/#/quiz/genre/one/#{item.id}/')
      h4
        span.glyphicon.glyphicon-book(aria-hidden='true')
        | &nbsp;#{item.title}
      | #{item.comment}
