extends ../layout/login

block content
  ul.list-group
    each item in list
      a.list-group-item(href='/quiz/genre/#{item.id}/')
        h4
          span.glyphicon.glyphicon-book(aria-hidden='true')
          | &nbsp;#{item.title}
        | #{item.comment}
      