//- 問題集のトップ画面

include ../show_header
div
  ul.list-group
    a.list-group-item(ng-href='/#/quiz/genre/list')
      h4
        span.glyphicon.glyphicon-book(aria-hidden='true')
        | &nbsp;ジャンル別
      | 問題作成者によってジャンルで分類された問題集
      span.badge #{result[0].genre}
    a.list-group-item(ng-href='/#/quiz/tag/list')
      h4
        span.glyphicon.glyphicon-tags(aria-hidden='true')
        | &nbsp;タグ別
      | 利用者によってタグで分類された問題集
      span.badge #{result[0].tag}
