.jumbotron {
  min-height: 400px;
  padding:20px;
}

#MainContents {
  min-height: 400px;
}

.glyphicon {
  padding-right: 8px;
}

.collapse-item:after {
  display: block;
  text-align: right;
  color: black;
  font-size: small;
  content: "閉じる";
}

.collapse-item.collapsed:after {
  content: "詳細を見る";
}

.message-area {
  position:fixed;
  top:0;
  left:0;
  display:block;
  width:100%;
  z-index:1000;
}
